<header class="header-container">
  <div class>
  <h2 class="header-title">Desafio calcme</h2>
</div>
  <nav class="header-nav">
    <ul class="header-list">
      <li><a href="https://www.linkedin.com/in/diego-souza91/" target="_blank" class="header-item"><i class="fab fa-linkedin"></i> Linkedin </a></li>
      <li><a href="https://github.com/Diegobuenodesouza"  target="_blank" class="header-item"><i class="fab fa-github"></i> Github </a></li>
      <li><a href="./../../../assets/file/DiegoSouza-Junior.pdf" class="header-item" download="DiegoSouza-CV"><i class="fas fa-file-pdf"></i> Currículo atualizado</a></li>
    </ul>
  </nav>
</header>


